[submodule "zsh/.config/zsh/plugins/fzf-tab"]
	path = zsh/.config/zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
	branch = master
[submodule "zsh/.config/zsh/plugins/completions"]
	path = zsh/.config/zsh/plugins/completions
	url = https://github.com/zsh-users/zsh-completions
	branch = master
[submodule "zsh/.config/zsh/plugins/autosuggestions"]
	path = zsh/.config/zsh/plugins/autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
	branch = master
[submodule "zsh/.config/zsh/plugins/defer"]
	path = zsh/.config/zsh/plugins/defer
	url = https://github.com/romkatv/zsh-defer
	branch = master
[submodule "zsh/.config/zsh/plugins/syntax-highlighting"]
	path = zsh/.config/zsh/plugins/syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
	branch = master
[submodule "zsh/.config/zsh/plugins/fzf-git"]
	path = zsh/.config/zsh/plugins/fzf-git
	url = https://github.com/junegunn/fzf-git.sh
	branch = main
[submodule "zsh/.config/zsh/plugins/powerlevel10k"]
	path = zsh/.config/zsh/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
	branch = master
[submodule "zsh/.config/zsh/plugins/zsh-history-substring-search"]
	path = zsh/.config/zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
	branch = master
[submodule "nvim/.lazy-idea"]
	path = nvim/.lazy-idea
	url = https://github.com/cufarvid/lazy-idea.git
	branch = main
[submodule "niri/.local/opt/wl-freeze"]
	path = niri/.local/opt/wl-freeze
	url = https://github.com/Zerodya/wl-freeze
	branch = main
[submodule "zsh/.config/zsh/plugins/zsh-system-clipboard"]
	path = zsh/.config/zsh/plugins/zsh-system-clipboard
	url = https://github.com/kutsan/zsh-system-clipboard
	branch = master
