@import "../themes/current/waybar.css";

* {
    border: none;
    border-radius: 10px;
    font-family: "MesloLGL Nerd Font";
    font-size: 15px;
    min-height: 10px;
}

window#waybar {
    background: transparent;
}

tooltip {
    background-color: rgba(41, 42, 52, 0.8);
    border: 2px solid rgb(69, 71, 87);
}

#network,
#bluetooth,
#custom-music,
#cava,
#battery,
#backlight,
#pulseaudio,
#pulseaudio,
#clock,
#disk,
#tray menu,
#workspaces,
#power-profiles-daemon,
#tray-expander,
#custom-power {
    margin-top: 6px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;

    color: @mauve;
    background-color: @surface0;
    border: 2px solid @surface2;
}

.tray-group-item #tray {
    margin-left: 8px;
}

#network:hover,
#bluetooth:hover,
#custom-music:hover,
#cava:hover,
#battery:hover,
#backlight:hover,
#pulseaudio:hover,
#pulseaudio:hover,
#clock:hover,
#disk:hover,
#power-profiles-daemon:hover,
#custom-power:hover {
    color: @surface0;
    background: @mauve;
}

@keyframes blink {
    to {
        color: #ffffff;
    }
}

#network.disconnected {
    color: @red;
    background: @surface0;
    border-bottom: 3px;
    border-style: solid;
    border-color: @red;
}

#network.disconnected:hover {
    background: @red;
    color: @surface0;
}

#custom-power {
    padding-left: 13px;
    margin-right: 5px;
}

#pulseaudio.sink.muted {
    color: @red;
    background: @surface0;
    border-bottom: 3px;
    border-style: solid;
    border-color: @red;
    transition: 0.3s;
}

#pulseaudio.sink.muted:hover {
    background: @red;
    color: @surface0;
}

#idle_inhibitor.activated {
    color: @blue;
    border-color: @blue;
}

#idle_inhibitor.activated:hover {
    background: @blue;
    color: @surface0;
    border-color: @blue;
}

#idle_inhibitor.deactivated {
    color: @mauve;
}

#idle_inhibitor.deactivated:hover {
    color: @surface0;
    background: @mauve;
}

#workspaces {
    margin-left: 5px;
}

#workspaces button {
    color: @mauve;
    transition: 0.3s;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}

#workspaces button:hover {
    background: transparent;
    color: transparent;
}

#workspaces button.active {
    color: @lavender;
    transition: 0.3s;
}
