[Desktop Entry]
Type=Application
Name=Project Picker
StartupNotify=true
Icon=/home/damian/.local/share/applications/icons/projects.png
Terminal=false
Keywords=Project;Picker;Pick
Exec=sh -c "$HOME/.local/bin/project-picker"
