[Desktop Entry]
Type=Application
Name=Wallpaper Picker
StartupNotify=true
Icon=/home/damian/.local/share/applications/icons/wallpaper.png
Terminal=false
Keywords=Wallpaper;Picker;Pick
Exec=sh -c "$HOME/.local/bin/vicinae-wallpaper-selector"
