[Desktop Entry]
Type=Application
Name=Project selector
StartupNotify=true
Icon=/home/damian/.local/share/applications/icons/projects.png
Terminal=false
Keywords=Project;Select;Selection;Selector
Exec=sh -c "$HOME/.local/bin/vicinae-project-selector"
