binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+T hotkey-overlay-title="Ghostty with Tmux" { spawn-sh "ghostty -e ~/.local/bin/ghostty-default-tmux +new-window"; }
    Mod+Alt+T hotkey-overlay-title="Ghostty" { spawn-sh "ghostty +new-window"; }

    Mod+Alt+L hotkey-overlay-title="Lock the Screen" { spawn "hyprlock"; }
    Mod+B hotkey-overlay-title="Zen Browser" { spawn-sh "~/.cargo/bin/nirius focus-or-spawn -a zen ~/.local/bin/zen"; }
    Mod+E hotkey-overlay-title="Nautilus" { spawn "nautilus";  }
    Mod+Control+E hotkey-overlay-title="Yazi" { spawn-sh "~/.local/bin/ghostty-yazi"; }
    Mod+N hotkey-overlay-title="Neovim" { spawn-sh "ghostty --title=Neovim -e nvim +new-window";  }
    Mod+P hotkey-overlay-title="Neovim textbox edit popup" { spawn "~/.local/bin/nvim-edit-popup";  }

    Mod+X hotkey-overlay-title="Toggle weekly calendar" { spawn-sh "qs ipc call plugin:weekly-calendar togglePanel"; }
    Mod+S hotkey-overlay-title="Toggle control center" { spawn-sh "qs ipc call controlCenter toggle"; }
    Mod+Z hotkey-overlay-title="Toggle notification center" { spawn-sh "qs ipc call notifications toggleHistory"; }
    Mod+Shift+Z hotkey-overlay-title="Clear notification history" { spawn-sh "qs ipc call notifications clear"; }
    Mod+Shift+N hotkey-overlay-title="Toggle auto DND" { spawn-sh "qs ipc call notifications toggleDND"; }
    Mod+Shift+C hotkey-overlay-title="Toggle auto suspend" { spawn-sh "qs ipc call idleInhibitor toggle"; }
    Mod+Shift+B hotkey-overlay-title="Toggle bar" { spawn-sh "qs ipc call bar toggle"; }
    Mod+Comma hotkey-overlay-title="Noctalia settings" { spawn-sh "qs ipc call settings toggle"; }

    Mod+Shift+E { spawn-sh "qs ipc call sessionMenu toggle"; }
    Control+Alt+Delete hotkey-overlay-title="Session menu" { spawn-sh "qs ipc call sessionMenu toggle"; }
    XF86PowerOff { spawn-sh "qs ipc call sessionMenu toggle"; }

    Mod+Control+Shift+F hotkey-overlay-title="Toggle follow mode" { spawn-sh "~/.local/bin/nirius-follow-mode"; }

    Control+Alt+BackSpace hotkey-overlay-title="Reboot" { spawn "systemctl" "reboot";  }
    Control+Alt+Page_Up hotkey-overlay-title="Suspend" { spawn "systemctl" "suspend";  }
    Control+Alt+Home { spawn "systemctl" "poweroff";  }
    Control+Alt+BackSlash { spawn "systemctl" "poweroff";  }
    Control+Alt+XF86AudioMute hotkey-overlay-title="Shut down" { spawn "systemctl" "poweroff";  }

    Mod+Escape hotkey-overlay-title="Resources" { spawn "flatpak" "run" "net.nokyan.Resources";  }
    Mod+M hotkey-overlay-title="Deezer" { spawn-sh "~/.local/bin/focus-or-spawn-deezer";  }

    Mod+Shift+D hotkey-overlay-title="Toggle Dark/Light Style" { spawn-sh "niri msg action do-screen-transition --delay-ms=500; ~/.local/bin/toggle-dark-mode"; }

    // Mod+Space hotkey-overlay-title="Fuzzel" { spawn "fuzzel"; }
    // XF86Search hotkey-overlay-title="Fuzzel" { spawn "fuzzel"; }
    // Mod+V hotkey-overlay-title="Clipboard history" {spawn-sh "clipman --histpath=/tmp/clipman.json pick --tool=CUSTOM --tool-args='fuzzel -d --config=/home/damian/.config/fuzzel/clipboard.ini'"; }
    // Mod+Period hotkey-overlay-title="Emoji search" { spawn "~/.local/bin/bemoji"; }
    // Mod+Grave repeat=false { spawn-sh "~/.local/bin/niri-window-switcher"; }

    Mod+Grave repeat=false { spawn-sh "vicinae vicinae://extensions/vicinae/wm/switch-windows"; }
    Mod+Space hotkey-overlay-title="Launcher" { spawn-sh "vicinae toggle"; }
    XF86Search hotkey-overlay-title="Launcher" { spawn "vicinae"; }
    Mod+V hotkey-overlay-title="Clipboard history" {spawn-sh "vicinae vicinae://extensions/vicinae/clipboard/history"; }
    Mod+Period hotkey-overlay-title="Emoji search" { spawn-sh "vicinae vicinae://extensions/vicinae/vicinae/search-emojis"; }

    XF86AudioRaiseVolume                     allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05+"; }
    XF86AudioLowerVolume                     allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-"; }
    XF86AudioMute                            allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute                         allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    Alt+XF86AudioMute                        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    ISO_Level3_Shift+XF86AudioMute           allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    ISO_Level3_Shift+XF86AudioRaiseVolume    allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SOURCE@" "0.05+"; }
    ISO_Level3_Shift+XF86AudioLowerVolume    allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SOURCE@" "0.05-"; }
    // XF86AudioRaiseVolume              allow-when-locked=true { spawn-sh "swayosd-client --output-volume raise"; }
    // XF86AudioLowerVolume              allow-when-locked=true { spawn-sh "swayosd-client --output-volume lower"; }
    // XF86AudioMute                     allow-when-locked=true { spawn-sh "swayosd-client --output-volume mute-toggle"; }
    // XF86AudioMicMute                  allow-when-locked=true { spawn-sh "swayosd-client --input-volume mute-toggle"; }
    // Alt+XF86AudioMute                 allow-when-locked=true { spawn-sh "swayosd-client --input-volume mute-toggle"; }
    // ISO_Level3_Shift+XF86AudioMute    allow-when-locked=true { spawn-sh "swayosd-client --input-volume mute-toggle"; }
    XF86AudioPlay                     allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioPause                    allow-when-locked=true { spawn "playerctl" "pause"; }
    XF86TouchpadToggle                allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioNext                     allow-when-locked=true { spawn "playerctl" "next"; }
    XF86AudioPrev                     allow-when-locked=true { spawn "playerctl" "previous"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn-sh "~/.local/bin/brightness-up-down 5"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn-sh "~/.local/bin/brightness-up-down -5"; }

    Mod+Shift+Control+R hotkey-overlay-title="Toggle screen recorder" { spawn-sh "qs ipc call plugin:screen-recorder toggle"; }
    Print { screenshot show-pointer=false; }
    Mod+Shift+S { screenshot show-pointer=false; }
    Control+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Shift+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+P { power-off-monitors; }
}
