// DOCS
// https://yalter.github.io/niri/Configuration%3A-Introduction.html

include "outputs.kdl"
include "input.kdl"
include "layer-rules.kdl"
include "window-rules.kdl"
include "whichkey-binds.kdl"
include "niri-binds.kdl"
include optional=true "themes/current-theme.kdl"
include "layout.kdl"

spawn-at-startup "~/.local/bin/awww-initialize"
spawn-at-startup "~/.local/bin/noctalia-overview"
spawn-at-startup "~/.cargo/bin/niri-sidebar" "listen"
spawn-sh-at-startup "noctalia"
spawn-sh-at-startup "vicinae server --replace"

environment {
    XCURSOR_SIZE "24"
}

hotkey-overlay {
    skip-at-startup
}

cursor {
    xcursor-theme "Bibata-Modern-Ice"
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

switch-events {
    lid-close { spawn "noctalia" "msg" "session" "lock-and-suspend"; }
}

recent-windows {
    debounce-ms 750

    open-delay-ms 75

    previews {
        max-height 800
        max-scale 0.7
    }
}

debug {
    honor-xdg-activation-with-invalid-serial
}

overview {
    zoom 0.6
    workspace-shadow {
        off
    }
}

blur {
    passes 4
    noise 0.02
    saturation 2.5
}
