// DOCS
// https://yalter.github.io/niri/Configuration%3A-Introduction.html

include "outputs.kdl"
include "input.kdl"
include "layer-rules.kdl"
include "window-rules.kdl"
include "binds.kdl"
include "colors.kdl"
include "layout.kdl"

spawn-sh-at-startup "/usr/libexec/xfce-polkit"

hotkey-overlay {
    skip-at-startup
}

cursor {
    xcursor-theme "Bibata-Modern-Ice"
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

switch-events {
    lid-close {spawn "hyprlock";}
}

recent-windows {
    debounce-ms 750

    open-delay-ms 75

    previews {
        max-height 800
        max-scale 0.7
    }
}

debug {
    honor-xdg-activation-with-invalid-serial
}
