layer-rule {
    match namespace="overview$"
    place-within-backdrop true
}

layer-rule {
    match namespace="awww"
    place-within-backdrop true
}

layer-rule {
    match namespace="noctalia-notifications"
    block-out-from "screencast"
}

layer-rule {
    match namespace="wlr_which_key"
    match namespace="vicinae"

    opacity 0.85
    geometry-corner-radius 12

    background-effect {
        blur true
        xray false
    }
}

layer-rule {
    match namespace="noctalia-background-.*$"
    background-effect {
        xray false
    }
}
