layer-rule {
    match namespace="^awww-daemon"
    place-within-backdrop true
}

layer-rule {
    match namespace="noctalia-notifications"
    block-out-from "screencast"
}

layer-rule {
    match namespace="vicinae"

    shadow {
        on
    }
    geometry-corner-radius 8
}
