layer-rule {
    match namespace="overview$"
    place-within-backdrop true
}

layer-rule {
    match namespace="awww"
    place-within-backdrop true
}

layer-rule {
    match namespace="noctalia-notifications"
    block-out-from "screencast"
}

layer-rule {
    match namespace="wlr_which_key"

    shadow {
        on
        softness 60
        spread 0
        offset x=0 y=0
        draw-behind-window true
        color "#00000030"
    }

    geometry-corner-radius 20
    opacity 0.80
    background-effect {
        blur true
        xray false
    }
}

layer-rule {
    match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|attached-panel|osd)$"
    match namespace="vicinae"

    background-effect {
        xray false
    }
}
