[Desktop Entry]
Version=1.0
Name=Update Rust packages
Comment=Update manually installed Rust packages for Niri
Exec=ghostty -e sh -c '/home/damian/.local/bin/niri-update-rust-packages; echo "Press any key to close..."; read -n 1 -s'
Icon=/home/damian/.local/share/applications/icons/update.png
Terminal=false
Type=Application
Categories=Application;
OnlyShowIn=niri
Hidden=false
NoDisplay=false
StartupNotify=false
