@import "floaty.css";
@import "loading-indicator.css";
@import "ghost-tabs.css";
@import "loadbar.css";
@import "smaller-compact-mode.css";

/* Global UI font */
* {
  font-weight: normal !important;
  font-family: "JetBrainsMono Nerd Font" !important;
}

/* URL bar styling */
@media not (-moz-bool-pref: "zen.view.use-single-toolbar") {
  #urlbar:not([focused]) .urlbar-input {
    text-align: center !important;
  }
}

/* Back/Fwd always hidden */
:root:not([customizing]) #back-button {
  display: none !important;
}

:root:not([customizing]) #forward-button {
  display: none !important;
}

/* No top sites */
#urlbar {
  &:not([usertyping], [searchmode]) > .urlbarView {
    display: none !important;
  }

  #urlbar-results div.urlbarView-row[row-selectable][type="top_site"] {
    & {
      display: none !important;
    }
    &:not([pinned]) {
      display: none !important;
    }
  }
}

/* NavBar margin */
#nav-bar {
  margin-top: var(--zen-element-separation) !important;
  margin-bottom: var(--zen-element-separation) !important;
}

toolbarbutton.titlebar-button {
  height: calc(38px + 2 * var(--zen-element-separation)) !important;
  width: calc(38px + 2 * var(--zen-element-separation)) !important;
  margin-top: calc(-1 * var(--zen-element-separation)) !important;
}
