[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=%h/.cargo/bin/awww-daemon
ExecStartPost=%h/.cargo/bin/awww img %h/Pictures/Wallpapers/Rainnight-blurred.png
Restart=on-failure
