[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/local/sbin/sway-audio-idle-inhibit
Restart=on-failure
