[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=%h/.cargo/bin/swww-daemon
ExecStartPost=%h/.cargo/bin/swww img %h/Pictures/Wallpapers/Rainnight-blurred.png
Restart=on-failure
